html
    header
        title Labo
    body
        h1 Homepage
        ul(class="col-md-1 col-6")
            li= members[0].name + members[1].lastName
            li élément 1
            li élément 1
            

