extends layouts/main

block content
  script(src="js/tasks.js")
  h1(class="pb-4 pt-2") Liste des tâches
  table(class="table")
    thead(class="thead-dark")
      tr
        th(scope="col") #
        th(scope="col") Titre
        th(scope="col") Description
        th(scope="col") Actions
    tbody
      each task, index in tasks
        include includes/task
      tr(id="rowId")
        td
        form(action="/tasks" method="POST")
          div(class="form-group")
            td
              input(type="text" class="form-control" placeholder="Titre" name="title" id="title")
            td
              input(type="text" class="form-control" placeholder="Description" name="description" id="desc") 
            td
              input(type="submit" class="btn btn-primary" value="Ajouter" id="add")