extends layouts/main.pug

block content
  h1(class="pb-4 pt-2") Liste des tâches
  table(class="table")
    thead(class="thead-dark")
      tr
        th(scope="col") #
        th(scope="col") Titre
        th(scope="col") Description
        th(scope="col") Actions
    tbody
      each task, index in tasks
        tr
          th(scope="row")= index
          td= task.title
          td= task.description
          td
      tr
        td
        form(action="/tasks" method="POST")
          div(class="form-group")
            td
              input(type="text" class="form-control" placeholder="Titre" name="title")
            td
              input(type="text" class="form-control" placeholder="Description" name="description") 
            td
              input(type="submit" class="btn btn-primary" value="Ajouter")